footer {
  margin-top: 100px;

  @include bg-gradient($purple, $red);

  color: $light;

  hr {
    border: 1px solid $grey;
  }

  ul > li {
    list-style: none;
  }
}

.footer-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 30px;
  padding-bottom: 73px;

  @media screen and (max-width: $breakpoint) {
    flex-direction: column;
  }

  .footer-up-item {
    /* display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start; */
    width: 270px;

    &:not(:last-child) {
      margin-right: 40px;

      @media screen and (max-width: $breakpoint) {
        margin-right: 0;
      }
    }

    @media screen and (max-width: $breakpoint) {
      width: 100%;
    }

    h2 {
      margin-top: 30px;
      margin-bottom: 15px;

      color: $white;

      font: bold 18px/27px "Roboto Bold", sans-serif;
      text-transform: uppercase;
    }

    a,
    p {
      color: $light;
      font: normal 16px/24px "Roboto", sans-serif;
      text-decoration: none;
    }
  }

  .footer-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    max-width: 270px;
  }
}

.footer-down {
  margin-right: 16px;
  padding-top: 40px;
  padding-bottom: 50px;

  color: $light;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;

    @media screen and (max-width: $breakpoint) {
      flex-direction: column;
    }
  }

  ul > li:not(:last-child) {
    margin-right: 16px;

    @media screen and (max-width: $breakpoint) {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}

.icon {
  display: inline-block;
  padding: 0;

  border: none;

  background-color: unset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  cursor: pointer;
}

.icon-google-plus {
  width: 26px;
  height: 17px;
  margin-right: 24px;

  background-image: url(../images/Google+.png);
}

.icon-twitter {
  width: 22px;
  height: 19px;
  margin-right: 24px;

  background-image: url(../images/Twitter.png);
}

.icon-facebook {
  width: 12px;
  height: 20px;
  margin-right: 24px;

  background-image: url(../images/Facebook.png);
}

.icon-instagram {
  width: 19px;
  height: 20px;

  background-image: url(../images/Instagram.png);
}
