.header {
  position: relative;

  max-width: 1200px;

  padding: 200px 120px;

  text-align: center;
}

@media screen and (max-width: 599px) {
  .header {
    padding: 200px 20px;
  }
}

.banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.header-flex {
  position: absolute;
  top: 25px;
  right: 120px;
  left: 120px;

  display: flex;
  flex-wrap: wrap;

  align-content: center;
  align-items: center;

  /* width: 100%;
  height: 25px; */

  font: 11px/16.5px "Roboto", sans-serif;
}

.logo-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* margin-right: 90px; */
}

.logo-img {
  width: 25px;
  height: 25px;
  margin-right: 16px;
}

.logo-text {
  color: $white;
  text-transform: uppercase;
}

.ul-flex {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

nav {
  ul {
    text-transform: uppercase;

    list-style: none;

    li {
      margin-right: 24px;
    }

    li a {
      color: $grey;
      text-decoration: none;
    }
  }
}

.activ a {
  color: $white;
}

.find {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 50px;
  max-width: 248px;
  height: 25px;

  padding-right: 10px;
  padding-left: 10px;

  border-radius: 50px;

  color: $darkGrey;

  text-align: left;
  text-transform: uppercase;

  background: $darkDarkGrey;
}

.form {
  max-width: 570px;

  color: $white;
  font: 16px/24px "Roboto", sans-serif;
}

.form-flex {
  display: flex;
  justify-content: center;
}

.form-input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  border: 2px solid $grey;
  border-radius: 3px;

  color: $white;

  background: transparent;
}

.btn {
  width: 100%;
  max-width: 570px;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;

  color: $white;
  font: 13px/15px "Roboto", sans-serif;
  text-transform: uppercase;
}

.btn-green {
  background: $green;
}

input::placeholder {
  color: $white;
  font: 14px/16.4px "Roboto Bold", sans-serif;
}

@media screen and (max-width: 599px) {
  .header-flex {
    right: 25px;
    left: 25px;

    /* padding-right: 25px;
    padding-left: 25px; */
  }

  .logo-flex {
    width: 100%;
  }

  .logo-text {
    margin-right: auto;
  }

  .ul-flex {
    display: block;
    padding-inline-start: 0;

    text-align: left;
  }

  .find {
    max-width: unset;
  }

  .form-flex {
    display: block;
    width: 100%;
    max-width: 570px;
    margin-right: 0;
  }

  .form-input {
    width: 100%;
    max-width: 570px;
  }

  .mr-24 {
    margin-right: 0;
  }
}
