#page-news {
  max-width: 1240px;
  padding-top: 100px;

  color: $white;

  background: $dark;

  h2 {
    font-weight: 700;
  }

  @media screen and (max-width: $breakpoint) {
    h2 {
      font: bold 18px/27px "Roboto Bold", sans-serif;
    }
  }
}

.news-item {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $breakpoint) {
    flex-direction: column;
    height: 490px;
  }
}

.news-text-block {
  flex-basis: 50%;

  @media screen and (max-width: $breakpoint) {
    margin-top: 43px;
  }
}

.news-body {
  h3 {
    font: normal 30px/45px "Roboto", sans-serif;
    text-align: left;
    text-transform: capitalize;

    @media screen and (max-width: $breakpoint) {
      font: normal 16px/24px "Roboto", sans-serif;
    }
  }

  p {
    margin-top: 30px;

    color: $grey;

    font: normal 16px/24px "Roboto", sans-serif;

    @media screen and (max-width: $breakpoint) {
      margin-top: 16px;
    }
  }
}

.news-img {
  flex-basis: 50%;
  max-width: 575px;
  max-height: 286px;

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: $breakpoint) {
    max-width: 374px;
    height: 186px;
    margin-right: 0;
    margin-left: 0;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.news-footer {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;

  font: normal 13px/19px "Roboto", sans-serif;
}

.news-author {
  display: flex;
  align-items: center;
  margin-bottom: 48px;

  @media screen and (max-width: $breakpoint) {
    margin-bottom: 46px;
  }

  span {
    margin-right: 16px;
  }
}

.btn-news {
  display: inline-block;
  width: unset;
  padding: 16px 30px;

  color: $grey;
  font: normal 13px/19px "Roboto", sans-serif;
  text-decoration: none;
}

.ava {
  width: 19px;
  height: 19px;
}
