* {
  box-sizing: border-box;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}
html {
  /* overflow-x: hidden;
  overflow-y: scroll; */
  color: #cacaca;
  font: 18px/1.5em "Roboto", sans-serif;
  background: #08020d;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 414px) {
  .content {
    width: 100%;
  }
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
}

/* @media screen and (max-width: 1200px) { */
h1 {
  font: 60px/90px "Roboto Bold", sans-serif;
}

h2 {
  font: 38px/57px "Roboto Bold", sans-serif;
}

h3 {
  font: normal 24px/36px "Roboto", sans-serif;
  text-align: center;
}

/* } */
@media screen and (max-width: 414px) {
  h1 {
    font: 30px/45px "Roboto Bold", sans-serif;
  }

  h2 {
    font: 18px/27px "Roboto Bold", sans-serif;
  }

  h3 {
    font: 16px/24px "Roboto Bold", sans-serif;
  }
}
.bg-img {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

p {
  margin: 0;
  padding: 0;
}

.btn {
  width: 100%;
  max-width: 570px;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font: 13px/15px "Roboto", sans-serif;
  text-transform: uppercase;
}

.btn-art {
  display: flex;
  align-items: center;
  width: 200px;
  min-width: 200px;
  height: 62px;
  padding: 20px 30px;
  font-size: 12.8px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mr-5 {
  margin-right: 5px;
}

.mr-15 {
  margin-right: 15px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-50 {
  margin-right: 50px;
}

.mr-15rem {
  margin-right: 1.5rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.w-15 {
  width: 15px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.pt-18 {
  padding-top: 18px;
}

.pt-100 {
  padding-top: 100px;
}

.ta-center {
  text-align: center;
}

.orange {
  color: #f89202;
}

.grey {
  color: #cacaca;
}

.row-reverse {
  flex-direction: row-reverse;
}

.btn-green {
  background: #34c176;
}

.btn-trans {
  background: transparent;
}

.btn-red {
  background: #95390c;
}

.btn-purple {
  background: #5328a1;
}

.space-between {
  justify-content: space-between;
}

.font-1624 {
  font: normal 16px/24px "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.font-size-12-8 {
  font-size: 12.8px;
}

/* blocks */
.header {
  position: relative;
  max-width: 1200px;
  padding: 200px 120px;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .header {
    padding: 200px 20px;
  }
}
.banner {
  background-image: url("../images/banner.png");
}

.arttist-banner {
  background-image: url("../images/Morten Harket.png");
}

.header-flex {
  position: absolute;
  top: 25px;
  right: 120px;
  left: 120px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  /* width: 100%;
  height: 25px; */
  font: 11px/16.5px "Roboto", sans-serif;
}

.logo-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-right: 90px; */
}

.logo-img {
  width: 25px;
  height: 25px;
  margin-right: 16px;
}

.logo-text {
  color: #fff;
  text-transform: uppercase;
}

.ul-flex {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

nav ul {
  text-transform: uppercase;
  list-style: none;
}
nav ul li {
  margin-right: 24px;
}
nav ul li a {
  color: #cacaca;
  text-decoration: none;
}

.activ a {
  color: #fff;
}

.find {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 50px;
  max-width: 248px;
  height: 25px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50px;
  color: #757575;
  text-align: left;
  text-transform: uppercase;
  background: #3c3b3d;
}

.form {
  max-width: 570px;
  color: #fff;
  font: 16px/24px "Roboto", sans-serif;
}

.form-flex {
  display: flex;
  justify-content: center;
}

.form-input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  padding-left: 20px;
  border: 2px solid #cacaca;
  border-radius: 3px;
  color: #fff;
  background: transparent;
}

input::placeholder {
  color: #fff;
  font: 14px/16.4px "Roboto Bold", sans-serif;
}

@media screen and (max-width: 414px) {
  .header-flex {
    right: 25px;
    left: 25px;
    /* padding-right: 25px;
    padding-left: 25px; */
  }

  .logo-flex {
    width: 100%;
  }

  .logo-text {
    margin-right: auto;
  }

  .ul-flex {
    display: block;
    padding-inline-start: 0;
    text-align: left;
  }

  .find {
    max-width: unset;
  }

  .form-flex {
    display: block;
    width: 100%;
    max-width: 570px;
    margin-right: 0;
  }

  .form-input {
    width: 100%;
    max-width: 570px;
  }

  .mr-24 {
    margin-right: 0;
  }
}
.art-button-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  /* padding-bottom: 223px; */
}

.art-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.art-desc-h1 {
  /* margin-top: 250px; */
  margin-bottom: 16px;
  text-align: left;
}

.art-desc-p {
  margin-bottom: 48px;
  font: normal 16px/24px "Roboto", sans-serif;
  text-align: left;
}

#page-pricing {
  max-width: 1200px;
  padding-top: 100px;
  color: #fff;
  background: #08020d;
}

.container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 414px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 27px;
  }
}

.pricing-item {
  min-width: 247px;
  max-width: 371px;
  /* height: 615px; */
  padding-top: 24px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 1rem;
}
@media screen and (max-width: 414px) {
  .pricing-item {
    margin-right: 0;
    margin-bottom: 27px;
  }
}

.price-flex {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 40px;
}

.card-h3 {
  text-align: center;
}

.subscribe_1 {
  background-image: url("../images/subscribe_1.png");
}

.subscribe_2 {
  background-image: url("../images/subscribe_2.png");
}

.subscribe_3 {
  background-image: url("../images/subscribe_3.png");
}

.pricing-value {
  position: relative;
  font: normal 64px/1em "Roboto", sans-serif;
  /* text-align: center; */
}

.rub {
  /* position: absolute; */
  margin-left: 16px;
  font: normal 32px/48px "Roboto", sans-serif;
  text-transform: uppercase;
}

.btn-card {
  box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 5px;
  font: normal 16px/24px "Roboto", sans-serif;
}

.pricing-footer {
  margin: 64px 0;
  font: normal 13px/19px "Roboto", sans-serif;
  /* text-align: center; */
}

.text-pricing-footer {
  margin-top: 43px;
  font: normal 16px/24px "Roboto", sans-serif;
}
@media screen and (max-width: 414px) {
  .text-pricing-footer {
    margin-top: 16px;
  }
}

#page-news {
  max-width: 1200px;
  padding-top: 100px;
  color: #fff;
  background: #08020d;
}
@media screen and (max-width: 414px) {
  #page-news h2 {
    font: normal 18px/27px "Roboto Bold", sans-serif;
  }
}

.news-item {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 414px) {
  .news-item {
    flex-direction: column;
  }
}

@media screen and (max-width: 414px) {
  .news-text-block {
    margin-top: 50px;
  }
}

.news-body h3 {
  font: normal 30px/45px "Roboto", sans-serif;
  text-align: left;
  text-transform: capitalize;
}
@media screen and (max-width: 414px) {
  .news-body h3 {
    font: normal 16px/24px "Roboto", sans-serif;
  }
}
.news-body p {
  margin-top: 30px;
  color: #cacaca;
  font: normal 16px/24px "Roboto", sans-serif;
}
@media screen and (max-width: 414px) {
  .news-body p {
    margin-top: 16px;
  }
}

.news-img {
  max-width: 575px;
  max-height: 286px;
  margin-right: 50px;
}
.news-img img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 414px) {
  .news-img {
    max-width: 374px;
    height: 186px;
    margin-right: 0;
  }
}

.news-footer {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
  font: normal 13px/19px "Roboto", sans-serif;
}

.news-author {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.news-author span {
  margin-right: 16px;
}

.btn-news {
  padding: 16px 30px;
  color: #cacaca;
  font: normal 13px/19px "Roboto", sans-serif;
  text-decoration: none;
}

.ava {
  width: 19px;
  height: 19px;
}

#page-popular-track {
  max-width: 1200px;
  padding-top: 100px;
  color: #fff;
  background: #08020d;
}

.treck-columns {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.container-popular-track {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 414px) {
  .container-popular-track {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 27px;
  }
}

.container-popular-track:not(:last-child) {
  margin-bottom: 25px;
}

.popular-track {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: flex-start;
  color: #e0e0e0;
  font: normal 12.8px/19.2px "Roboto", sans-serif;
}
.popular-track img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}
@media screen and (max-width: 414px) {
  .popular-track {
    margin-right: 0;
  }
  .popular-track:not(:last-child) {
    margin-bottom: 25px;
  }
}

.track-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.track-info h3 {
  color: #fff;
  font: bold 12.8px/19.2px "Roboto Bold", sans-serif;
}

/* no components */
footer {
  margin-top: 100px;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  color: #e0e0e0;
}
footer .footer-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0 73px;
}
@media screen and (max-width: 414px) {
  footer .footer-up {
    flex-direction: column;
    /* h2 {
      :not(:first-child)
      margin-top: 30px;
    } */
  }
}
footer .footer-up .footer-up-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 270px;
}
footer .footer-up .footer-up-item h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #fff;
  font: bold 18px/27px "Roboto Bold", sans-serif;
  text-transform: uppercase;
}
footer .footer-up .footer-up-item a,
footer .footer-up .footer-up-item p {
  color: #e0e0e0;
  font: normal 16px/24px "Roboto", sans-serif;
  text-decoration: none;
}
footer .footer-up .footer-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  max-width: 270px;
}
footer hr {
  border: 1px solid #cacaca;
}
footer .footer-down {
  margin-right: 16px;
  padding: 40px 0 50px;
  color: #e0e0e0;
}
footer .footer-down ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
@media screen and (max-width: 414px) {
  footer .footer-down ul {
    flex-direction: column;
  }
}
footer .footer-down ul > li {
  list-style: none;
}
footer .footer-down ul > li:not(:last-child) {
  margin-right: 16px;
}
@media screen and (max-width: 414px) {
  footer .footer-down ul > li:not(:last-child) {
    margin-bottom: 16px;
  }
}

.icon {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: unset;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.icon-google-plus {
  width: 26px;
  height: 17px;
  margin-right: 24px;
  background-image: url(../images/Google+.png);
}

.icon-twitter {
  width: 22px;
  height: 19px;
  margin-right: 24px;
  background-image: url(../images/Twitter.png);
}

.icon-facebook {
  width: 12px;
  height: 20px;
  margin-right: 24px;
  background-image: url(../images/Facebook.png);
}

.icon-instagram {
  width: 19px;
  height: 20px;
  background-image: url(../images/Instagram.png);
}

/* page-app */
.app-flex {
  display: flex;
  flex-direction: row;
}
.app-flex img {
  width: 333px;
  height: 278px;
}
@media screen and (max-width: 414px) {
  .app-flex {
    flex-direction: column-reverse;
  }
}

.app-btn {
  width: 131px;
  padding: 16px 40px;
  border-radius: 32px;
  color: #fff;
  font-size: 12.8px;
}

/*# sourceMappingURL=app.css.map */
