@import "variables";
@import "general";
@import "atomic";

/* blocks */
@import "blocks/header";
@import "blocks/page-description";
@import "blocks/page-pricing";
@import "blocks/page-news";
@import "blocks/page-popular-track";
@import "blocks/page-discography";
@import "blocks/page-similar";

/* no components */
@import "blocks/footer";

/* page-app */
#page-app {
  max-width: 1240px;
  padding-top: 100px;
}

.app-flex {
  display: flex;
  flex-direction: row;

  div {
    max-width: 600px;
    margin-right: 144px;
  }

  img {
    width: 333px;
    height: 278px;

    /* margin: 0 auto; */
  }

  @media screen and (max-width: $breakpoint) {
    flex-direction: column-reverse;

    .page-app-text {
      margin-top: 16px;
      padding-top: 0;

      p:first-child {
        margin-bottom: 16px;
      }
    }

    div {
      margin-right: 0;
    }
  }
}

.app-btn {
  width: 131px;
  padding: 16px 40px;
  border-radius: 32px;

  color: $white;
  font-size: 12.8px;
}
