.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;

  overflow: hidden;

  white-space: nowrap;
}

.mb-15 {
  margin-bottom: 1.5rem;
}

.mr-5 {
  margin-right: 5px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.w-15 {
  width: 15px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-16 {
  margin-bottom: 16px;
}

.pt-18 {
  padding-top: 18px;
}

.pt-100 {
  padding-top: 100px;
}

.ta-center {
  text-align: center;
}

.orange {
  color: $orange;
}

.grey {
  color: $grey;
}

.row-reverse {
  flex-direction: row-reverse;
}

.btn-red {
  background: $red;
}

.app-flex {
  display: flex;
  flex-direction: row;

  img {
    width: 333px;
    height: 278px;
  }

  @media screen and (max-width: $breakpoint) {
    flex-direction: column-reverse;
  }
}

.space-between {
  justify-content: space-between;
}

.font-1624 {
  font: normal 16px/24px "Roboto", sans-serif;
}

.app-btn {
  width: 131px;
  padding: 16px 40px;
  border-radius: 32px;

  color: $white;
  font-size: 12.8px;
}
